@model TO_DO_List.Models.TaskVeiwModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaskVeiwModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoTillDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoTillDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CereatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CereatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRepetitive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRepetitive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HowOften)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HowOften)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
